body{
    background: linear-gradient(to bottom, #c9e8ff, #ffffff);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h3{
    font-size: 150%;
    color: #134972;
    text-shadow: 2px 2px 5px rgb(166, 166, 166);
    border-radius: 10px;
}

p{
    color: #333333;
    font-size: 18px;
}


input[type="submit"]{
    background-color: #115a30;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #2e8c57;
}

a[href="Domashna1.html"]{
position: fixed;
bottom: 10px;
left: 10px;
text-decoration: none;
color: darkblue;
font-weight: bold;
}

a[href="Domashna1.html"]:hover{
    color: #3e40bd;
}

