body {
  font-size: large;
  font-family: Arial, sans-serif;
  background-color: #9de2986e;
  text-align: center;
  margin-top: 30px;
}

p1 {
position: fixed;
bottom: 10px;
left: 10px;
font-size: smaller;
}

h1 {
  color: #185043;
}

#tries {
  font-size: 18px;
  margin-bottom: 40px;
  color: #eb772f;
}

#board {
  display: grid;
  grid-template-columns: repeat(6, 200px); 
  grid-template-rows: repeat(2, 300px);   
  gap: 10px;
  justify-content: center;
}

.card {
  width: 150px;
  height: 200px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}
